body {
   font-family: sans-serif;
   background-color: #111d4a;
}

ul{
   list-style-type: none;
}

/* #head{
   display: inline-block;
   position: relative;
   left: 50%;
} */

header {
   padding-top: 25px;
   padding-bottom: 25px;
   text-align: center;
   font-size: 50px;
   font-family: sans-serif;
   font-weight: bold;
   color: #f1f0fc;
   
}

#searchBox {
   display: inline-block;
   position: relative;
   padding-bottom: 15px;
   left: 50%;
   transform: translateX(-50%);
}


.songCardHouseDiv {
   background-color: azure;
   margin: auto;
   margin-top: 10px;
   color: black;
   width: 100%;
   right: 50%;
   left: 0px;
   top: 50%;
   bottom: 50%;
   text-align: center;
   border: black;
   border-radius: 15px;
}

/* .saveSongBtn, .unsavedSongBtn{
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);   
} */

.savedSongsList {
   background-color: azure;
   color: black;
   width: 100%;
   right: 50%;
   left: 50%;
   top: 50%;
   bottom: 50%;
   text-align: center;
   border: black;
   border-radius: 15px; 
}

#songCardsContainer {
   /* background-color: yellow; */
   position: absolute;
   right: 2px;
   padding-top: 20px;
   /* float: right; */
   width: 44%;
   border-radius: 5px;
}

.songCard {
   margin: 10px; 
   padding-top: 15px;
   left: 0px;
}

#savedSongs {
   /* background-color: violet; */
   position: absolute;
   left: 2px;
   padding-top: 20px;
   /* vertical-align: 200px; */
   /* padding-left: 20px; */
   /* float: left; */
   width: 44%;
   border-radius: 5px;
}


/* .sideBarContainer { 
   height: auto;
   position: relative;
   width: 300px;
   border: 1px solid rgb(229, 146, 255);
   border-radius: 5px;
   background-color: #FFE1E1;
} */

.List_Title {
   text-align: center;
   font-family: Arial;
   color: #ffffff;

}

#errorMessageHouse{
   background-color: rgb(228, 228, 102);
   width: 100%;
   right: 50%;
   left: 0px;
   top: 50%;
   bottom: 50%;
}